@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0f0f0f;
  --card-bg: #1a1a1a;

  --primary: #00ff88;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: "Inter", sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
